create database demo;
USE DEMO;


SELECT * FROM EMP;
SELECT * FROM EMP_SAL;

-------ASSIGNMNET 1----
--Q1 EMP TABLE LIST ALL THE EMPLOYESS WITH THE LAST NAME AS SHARMA----

SELECT * FROM EMP
WHERE NAME LIKE '%SHARMA%';

SELECT * FROM EMP
WHERE NAME LIKE '__M%';


--Q2 INCREASE SALARY OF ALL MANAGERS BY 10%--

UPDATE EMP_SAL SET SALARY= SALARY+ SALARY*.10
WHERE DESI= 'MANAGER';


IS NULL - FOR CHECKING THE NULL VALUES

SELECT * FROM EMP_SAL
WHERE SALARY IS NULL;

SELECT * FROM EMP
WHERE EID IS NULL;


DISTINCT - UNIQUE VALUE OF THE FIELD

SELECT DISTINCT DEPT FROM EMP_SAL;

--CONSTRAINTS--

ALTER TABLE EMP
ADD CONSTRAINT PKID PRIMARY KEY (EID);

ALTER TABLE EMP 
ALTER COLUMN EID CHAR(5) NOT NULL;

SELECT * FROM EMP;

INSERT INTO EMP
VALUES (1166, 'RIYA SAHRMA', 'BLOCK D', 'TUKHMIRPUR', 'DELHI', 8987678998,'RS@GOOGLE.COM', '22-FEB-1998', '21-JAN-2021')

ALTER TABLE EMP
ALTER COLUMN NAME VARCHAR(20) NOT NULL;

ALTER TABLE EMP
ADD CONSTRAINT UNPHN UNIQUE (PHONE);

ALTER TABLE EMP
ADD CONSTRAINT CKADD CHECK (NOT ADDR2 LIKE '%UTTAM NAGAR%');


SELECT DISTINCT DESI FROM EMP_SAL;
ALTER TABLE EMP
ADD CONSTRAINT CKADD2 CHECK (CITY IN ('DELHI', 'NOIDA', 'CHANDIGARH', 'DEHRADUN', 'GURGAON', 'MUMBAI', 'PUNE'));  ------

ALTER TABLE EMP
ADD CONSTRAINT CKE CHECK (EMAIL LIKE '%GMAIL.COM' OR EMAIL LIKE '%YAHOO.COM');

ALTER TABLE EMP
ADD CONSTRAINT CKDOB CHECK (DOB <='1-JAN-2022')

ALTER TABLE EMP
ADD CONSTRAINT CKDOB1 CHECK (DOB <='1-JAN-2000')

ALTER TABLE EMP_SAL
ADD CONSTRAINT DF_DEPT DEFAULT 'TEMP' FOR DEPT;

ALTER TABLE EMP_SAL
ADD CONSTRAINT CHK_DEPT CHECK (DEPT IN ('HR', 'OPS', 'IT', 'ADMIN','MIS','TEMP'));

ALTER TABLE EMP_SAL
ADD CONSTRAINT CHK_DESI CHECK (DESI IN ('ASSO', 'MGR', 'VP', 'DIR'));

ALTER TABLE EMP_SAL
ADD CONSTRAINT FKID2 FOREIGN KEY (EID) REFERENCES EMP (EID);



     --clauses----
--BETWEEN IN RANGE---
SELECT * FROM EMP_SAL
WHERE SALARY BETWEEN 200000 AND 300000;

-- IN---	

SELECT * FROM EMP_SAL
WHERE DEPT IN ('IT', 'MIS');

----COUNT - NO OF VALUES IN FIELD-- COUNT IS NOT COUNT NULL VALUES
SELECT COUNT (*) FROM EMP_SAL;
SELECT COUNT (SALARY) FROM EMP_SAL;

--ORDER BY- SORTING__

SELECT * FROM EMP_SAL
ORDER BY SALARY;


SELECT * FROM EMP_SAL
ORDER BY DEPT, SALARY DESC;

--- GROUP BY- CREATE A GROUP ---

SELECT DEPT, SUM(SALARY) AS 'TOTAL SALARY'
FROM EMP_SAL 
GROUP BY DEPT;

SELECT DEPT, DESI, SUM(SALARY) AS 'TOTAL SALARY'  (UPR YA TOH FORMULA M HONA CHHAYE YA GROUP BY M BHI HONA CAHAIYE OTHERWISE IT WILL MAKE AN ERROR)
FROM EMP_SAL 
GROUP BY DEPT, DESI;

--HAVING CLUASE USE WITH GROUP BY
SELECT DEPT, SUM(SALARY) AS 'TOTAL SALARY'
FROM EMP_SAL 
GROUP BY DEPT
HAVING SUM(SALARY) > 500000;


----ASSIGNMENT 4--
--CITY WISE COUTN OF EMPLOYEES ARRANGED IN DESC ORDER--
SELECT * FROM EMP


SELECT CITY, COUNT (EID) AS 'NO OF EMPLOYEES' FROM EMP
GROUP BY CITY
ORDER BY 'NO OF EMPLOYEES' DESC;

SELECT * FROM EMP
WHERE EMAIL NOT LIKE '%@YAHOO%'


--DESIGNATION WISE TOTAL COST AND NUMBER OF MEMBERS ARRANGED IN DESCENDING ORDER OF THE COST---

SELECT DESI, COUNT(EID)AS 'NO OF EMPLOYEES', SUM(SALARY) AS 'TOTAL COST' FROM EMP_SAL
GROUP BY DESI
ORDER BY 'NO OF EMPLOYEES' DESC;


SELECT * FROM EMP;
SELECT * FROM EMP_SAL;

---ASSIGNMNET 5----
--Q1 EID NAME CITY DOJ DEPT DESI SALARY OF THE DELHI EMPLOYEES

SELECT EMP.EID, EMP.NAME, EMP.CITY, EMP.DOJ, EMP_SAL.DEPT, EMP_SAL.DESI, EMP_SAL.SALARY
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID=EMP_SAL.EID
WHERE CITY = 'DELHI';


create database inventory;
use inventory;

create table supplier(
sid char(5) primary key,
sname varchar (20) not null,
sadd varchar(30) not null,
scity varchar(10) default 'delhi',
sphone int unique,
email varchar(30),) ;

ALTER TABLE PRODUCT
ADD CONSTRAINT FKSID FOREIGN KEY (SID) REFERENCES SUPPLIER (SID);


create table product(
pid char(5) primary key,
pdesc varchar(20) not null,
price int check (price >0),
category VARCHAR (2),
sid char(5))

CREATE TABLE STK(
PID CHAR(5)   CONSTRAINT FKPID FOREIGN KEY REFERENCES PRODUCT (PID),
SQTY INT      CONSTRAINT CK_SQ CHECK (SQTY >=0),
ROL INT		  CONSTRAINT CK_ROL CHECK (ROL>0),
MOQ INT		  CONSTRAINT CK_MOQ CHECK (MOQ >=5),)


CREATE TABLE CUST(
CID CHAR(5) PRIMARY KEY,
CNAME VARCHAR(20) NOT NULL,
ADDRESS VARCHAR(30) NOT NULL,
CITY VARCHAR (10)NOT NULL,
PHONE INT NOT NULL,
EMAIL VARCHAR(30) NOT NULL,
DOB DATE CONSTRAINT CK_DOB CHECK (DOB < '1-JAN-2000'),)

CREATE TABLE ORDERS(
OID CHAR(5) PRIMARY KEY,
ODATE DATE,
PID CHAR(5) CONSTRAINT FKPID2 FOREIGN KEY REFERENCES PRODUCT (PID),
CID CHAR(5) CONSTRAINT FKCID FOREIGN KEY REFERENCES CUST (CID),
OQTY INT CONSTRAINT CK_OQTY CHECK (OQTY >=1),)


USE DEMO;

-----------Assignment 5--------

CREATE VIEW L2EMP
AS 
SELECT * FROM EMP
WHERE CITY = 'DELHI'

CREATE VIEW L2EMP2
AS 
SELECT * FROM EMP
WHERE CITY = 'DELHI'
WITH CHECK OPTION;

SELECT * FROM L2EMP
SELECT * FROM L2EMP2

SELECT * FROM EMP;
SELECT * FROM EMP_SAL;

CREATE VIEW L2V1
AS
	SELECT EMP.EID,NAME,DOJ,DEPT,DESI,SALARY AS 'BASIC',SALARY * 0.15 AS 'HRA',SALARY * 0.9 AS 'PF',SALARY+SALARY * 0.15+SALARY * 0.9 AS 'NET', SALARY+SALARY * 0.15+SALARY* 0.9-SALARY * 0.9 AS 'GROSS'
	FROM EMP
	INNER JOIN EMP_SAL
	ON EMP.EID = EMP_SAL.EID

	SELECT * FROM L2V1SS


create view l2v2
AS	
	SELECT EMP.EID,NAME,DOJ,DESI,DEPT
	FROM EMP
	INNER JOIN EMP_SAL
	ON EMP.EID = EMP_SAL.EID
	WHERE DESI = 'MANAGER' AND YEAR(DOJ)= 2019

	SELECT * FROM L2V2

CREATE VIEW L3V3
AS
	SELECT EMP.CITY,DESI,  COUNT(EMP.EID) AS 'MEMBERS', COUNT(EMP_SAL.DEPT) AS DEPARTMENT, SUM(EMP_SAL.SALARY) AS TS, AVG(EMP_SAL.SALARY) AS AVG
	FROM EMP, EMP_SAL
	WHERE EMP.EID = EMP_SAL.EID
	GROUP BY EMP.CITY, EMP_SAL.DESI

	SELECT EMP.CITY,DESI,  COUNT(EMP.EID) AS 'MEMBERS', COUNT(EMP_SAL.DEPT) AS DEPARTMENT, SUM(EMP_SAL.SALARY) AS TS, AVG(EMP_SAL.SALARY) AS AVG
	FROM EMP
	INNER JOIN EMP_SAL
	ON EMP.EID = EMP_SAL.EID
	GROUP BY EMP.CITY, EMP_SAL.DESI

	SELECT * FROM L3V3

-------------------FUNCTIONS-------------------------

SELECT * FROM EMP;

SELECT EID,NAME,UPPER(CONCAT(ADDR1,' ',ADDR2,' ',CITY)) AS ADDRESS,
LEFT (NAME,1) AS 'FNAME',CHARINDEX(' ', NAME) AS 'SPACE',LEN(NAME) AS LEN,
LEFT(NAME,CHARINDEX(' ', NAME)) AS 'FNAME',
RIGHT(NAME,LEN(NAME)-CHARINDEX(' ', NAME)) AS 'LNAME',
LOWER(CONCAT(LEFT (NAME,1),RIGHT(NAME,LEN(NAME)-CHARINDEX(' ', NAME)),RIGHT(EID,3),'@OUTLOOK.COM')) AS 'CORP EM',
SUBSTRING (NAME,CHARINDEX(' ', NAME)+1,1) AS 'LN'
FROM EMP;

----------ASSIGNMNET 6----
A1----

SELECT * FROM EMP_SAL;

SELECT DEPT, COUNT(EID) AS 'MEMBERS' , AVG(SALARY) AS AVG
FROM EMP_SAL
GROUP BY DEPT;

A2----
SELECT COUNT(DESI) FROM EMP_SAL
WHERE DESI= 'MANAGER';

A3------

SELECT MAX(SALARY) AS 'MAX', MIN(SALARY) AS 'MIN'
FROM EMP_SAL
WHERE (DESI = 'ASSOCIATE');

A4-------

SELECT DEPT, COUNT(EMP_SAL.EID) AS 'MEMBERS' , AVG(EMP_SAL.SALARY) AS AVG
FROM EMP,EMP_SAL
WHERE EMP.EID= EMP_SAL.EID AND CITY = 'DELHI'
GROUP BY DEPT;

A5---

CREATE VIEW CORPV1
AS
	SELECT EID, NAME, LOWER(CONCAT(LEFT(NAME,1), SUBSTRING (NAME, CHARINDEX(' ',NAME)+1,1), RIGHT(EID,3), '@RCG.COM')) AS 'COP EMAIL'
	FROM EMP;

SELECT * FROM CORPV1;

a6---
SELECT * FROM EMP
SELECT NAME, CITY, PHONE,	EMAIL, DATEDIFF(YY,DOB,GETDATE()) AS 'AGE'
FROM EMP
WHERE (DATEDIFF(YY,DOB,GETDATE())>=40)

A7---

SELECT EMP.EID, NAME,DATEDIFF(YY,DOJ,GETDATE()) AS 'TENURE'
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID= EMP_SAL.EID
WHERE (DATEDIFF(YY,DOJ,GETDATE())>5);

A8------

SELECT EMP.EID, NAME,DOB, DESI, DEPT
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID = EMP_SAL.EID
WHERE MONTH(DOB)= MONTH(8) AND DESI = 'MANAGER';

A9-------

select * from emp_sal
where salary = ( select max(salary) from emp_sal);


a10--FUNCTION---

CREATE FUNCTION TENURE()
RETURNS TABLE
AS
	RETURN (SELECT EMP.EID, NAME,DOB, DESI, DEPT
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID = EMP_SAL.EID
WHERE MONTH(DOB)= MONTH(8) AND DESI = 'MANAGER');

SELECT * FROM DBO.TENURE();


----ASSIGNMENT 7--
USE DEMO;

A1--

SELECT EID, NAME, CITY FROM EMP
WHERE CITY = 'GURGAON'

A2--

SELECT EMP.EID, NAME DOJ, DEPT, DESI, SALARY
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID= EMP_SAL.EID
WHERE EMP_SAL.DESI = 'Manager'

A3---
INSERT SUB-QUERY
UPDATE EMP_SAL SET SALARY = SALARY - SALARY*.10
WHERE EID IN (	SELECT EID FROM EMP WHERE CITY = 'DELHI')

A5---
INSERT SUBQUERY
CREATE TABLE TRAINING(EID CHAR(5), NAME VARCHAR(20), DEPT VARCHAR(10));

INSERT INTO TRAINING
SELECT EMP.EID, NAME, DEPT 
FROM EMP
INNER JOIN EMP_SAL
ON EMP.EID=EMP_SAL.EID
WHERE DEPT ='OPS'

SELECT * FROM TRAINING

A6---

DELETE FROM TRAINING
WHERE EID IN (SELECT EID FROM EMP_SAL WHERE DESI LIKE '%DIRECTOR%');


A7---

SELECT * FROM EMP_SAL
WHERE EXISTS (SELECT EID FROM EMP_SAL WHERE SALARY > 200000)


---------
SELECT * FROM EMP
SELECT * FROM EMP_SAL
WHERE DEPT = 'OPS'